*{
  margin:0;
  padding:0;
  background-color:#4DB6AC;
}
label{
  background-color: inherit;
  color: white;
}
#title{
  text-align: center;
  margin-top:10%;
  position:relative;
  color: white;

}
.generator{
  background-color: #00897B;
  margin-left:30%;
  margin-right: 30%;
  margin-top:5%;
  border:2px black ;
   box-shadow: 10px 10px 5px grey;

  width:40%;
 padding-left:5%;
 padding-top:2%;
 padding-bottom:2%;
}
.generator #pwform{
    background-color: inherit;
}
.generator #pwform #generated-password{
  
  width:60%;
  margin-left:10%;
  border: 2px solid black;
  padding:1%;
  background-color:white;
}

.generator #pwform #generate-button{
    
  margin-top:5%;
  margin-left:25%;
  border: 2px solid black;
  text-align:center;
  padding:5%;
  font-weight:600;
  font-size:1.9vm;
  background-color:#E0F2F1;
  
}

#copy-btn{
  padding: 1%;
  background-color: white;
  color: green;
  font-weight: bold;
}

.radio-btns{
  width: 80%;
  margin-left: 10%;
  margin-right:10%;
  background-color: inherit;
}
.radio-btns>*{
  margin: 0% 1% 2% 0%;
}

p{
  margin-top: 2%;
  margin-left: 25%;
  background-color: inherit;
  font-weight: bold;
  color: wheat;
  display: none;
}
@media screen and (max-width:1024px){
  #title{
    margin-top:50%
  }
  .generator{
    width:80%;
    margin:0% 10% 0% 10%;

    
  }
 

}